- if @action_type.errors.any?
  .alert.alert-error
    %h3= "#{pluralize(@action_type.errors.count, "error")} prohibited this action type from being saved:"
    %ul
      - @action_type.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :name
  = f.text_field :name
  
.field
  = f.label :points
  = f.text_field :points

%br/
.actions
  - if Action.where(action_type: @action_type.name).count > 0
    = f.submit 'Save', :class => 'btn btn-success', :data => { :confirm => "#{Action.where(action_type: @action_type.name).count} actions are associated with this action type. Changing the action type name will orphan these records. Do you wish to continue?" }
  - else
    = f.submit 'Save', :class => 'btn btn-success'
    
  = link_to 'Cancel', admin_action_types_path, :class => 'btn'
