%h1 Action Types

%p.well
  Action types are used to build campaign requirements. Incoming API calls must include an appropriate action type in order to register in the system.
  
%table.table.table-hover
  %tr
    %th Channel
    %th Name
    %th Provider UID
    %th Actions
    %th
    %th
  - @action_types.each do |action_type|
    %tr
      %td= action_type.channel.try(:name)
      %td= action_type.name
      %td= action_type.provider_uid
      %td= action_type.actions.count
      %td{width: 35}= link_to 'Edit', edit_admin_action_type_path(action_type), :class => 'btn btn-mini'
      %td{width: 55}= link_to 'Delete', admin_action_type_path(action_type), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'


= link_to 'New Action Type', new_admin_action_type_path, :class => 'btn btn-success'
