.container.page
	%h1 Sign Up

	= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
		- unless resource.errors.empty?
			.alert.alert-error
				= devise_error_messages!

		.field
			= f.label :email
			= f.email_field :email, :autofocus => true

		.field
			= f.label :password
			= f.password_field :password

		.field
			= f.label :password_confirmation
			= f.password_field :password_confirmation

		.actions
			= f.submit "Sign up", :class => 'btn btn-info'

		%div
			%br/
			= link_to 'Sign in', sign_in_url
			%br/
			= link_to 'Forgot password?', new_user_password_url

		= render "devise/shared/links"
		