%h1 Levels
%p.well
  Levels are the mechanism for "leveling up" &mdash; they provide a progression of successive achievement.  Levels are defined by point requirements, which can be attained by earning points from awards and campaigns. A user's current level will appear in his/her public profile.

%table.table
  %tr
    %th Name
    %th Required Points
    %th
    %th

  - @levels.each do |level|
    %tr
      %td= level.name
      %td= level.points
      %td{width: 35}= link_to 'Edit', edit_admin_level_path(level), :class => 'btn btn-mini'
      %td{width: 55}= link_to 'Delete', admin_level_path(level), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

= link_to 'New Level', new_admin_level_path, :class => 'btn btn-success'
