<!DOCTYPE html>
%html
	%head
		%meta{'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
	%body
		- if @user.first_name.present?
			%p
				== Dear #{@user.first_name},

		%p
			- if @completed_campaigns.count == 1
				Give yourself a pat on the back. You just completed a campaign. Your community, and your fellow Street Credders thank you.
			- else
				== Give yourself a pat on the back. You just completed #{@completed_campaigns.count} campaigns. Your community, and your fellow Street Credders thank you.

		- for campaign in @completed_campaigns
			%div
				%h3= link_to campaign.name, campaign_url(campaign)
				%p= campaign.description
				%p
					== Personal Goal: report #{campaign.required_individual_occurrences}
					%br/
					== Community Goal: report #{campaign.required_community_occurrences}
				%p== #{formatted_date(campaign.start_time)} &mdash; #{formatted_date(campaign.end_time)}

		%p
			What's next?
		%ul
			%li 
				== Check your #{link_to 'dashboard page', participant_url(@user)} to monitor your progress on other campaigns
			%li 
				== View the #{link_to 'participants page', participants_url} to see how you stack up
			%li
				== Visit the #{link_to 'campaigns page', campaigns_url} to find a new campaign to start
			%li
				== Send your new awards to Mozilla Backpack from your #{link_to 'dashboard page', participant_url(@user)}

		%p Thanks again for all your work.

		%p - The Street Cred Team