<!DOCTYPE html>
%html
	%head
		%meta{'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
	%body
		- if @in_progress_campaigns == 1
			%h2 Congratulations!
			You just made progress on the following campaign:
		- else
			%h2 Congratulations!
			You just made progress on the following campaigns:

		- for campaign in @in_progress_campaigns
			%div
				%h3= campaign.name
				%p
					== #{formatted_date(campaign.start_time)} &mdash; #{formatted_date(campaign.end_time)}
				%p
					= campaign.description
				%p
					== Personal Goal: report #{campaign.required_individual_occurrences}
					%br/
					== Community Goal: report #{campaign.required_community_occurrences}

		%p
			== Please visit your #{link_to 'dashboard page', participant_path(@user)} to check your progress.