<!DOCTYPE html>
%html
	%head
		%meta{'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
	%body

		- if @user.first_name.present?
			%p
				== Dear #{@user.first_name},

		- if @in_progress_campaigns == 1
			%h2 Congratulations!
			You just made progress on the following campaign:
		- else
			%h2 Congratulations!
			You just made progress on the following campaigns:

		- for campaign in @in_progress_campaigns
			%div
				%h3= link_to campaign.name, campaign_url(campaign)
				%p= campaign.description
				%p
					== Personal Goal: report #{campaign.required_individual_occurrences}
					%br/
					== Community Goal: report #{campaign.required_community_occurrences}
				%p== #{formatted_date(campaign.start_time)} &mdash; #{formatted_date(campaign.end_time)}

		%p
			What’s next?
		%ul
			%li 
				== Check your #{link_to 'dashboard page', participant_url(@user)} to monitor your progress
			%li 
				== View the #{link_to 'participants page', participants_url} to see how you stack up
			%li
				== Visit the #{link_to 'campaigns page', campaigns_url} to find a new campaign to start
		
		%p Thanks again for all your work.

		%p - The Street Cred Team