<!DOCTYPE html>
%html
	%head
		%meta{'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type"}
	%body
		%h2 Congratulations!
		%h4 You just made progress on the following campaigns.

		- for campaign in @in_progress_campaigns
			%div
				%h3= campaign.name
				%p
					== #{campaign.start_time} &mdash; #{campaign.end_time}
				%p
					= campaign.description
				%p
					== Personal Goal: report #{campaign.required_individual_occurrences}
					%br/
					== Community Goal: report #{campaign.required_community_occurrences}

		%p
			== Please visit your #{link_to 'dashboard page', participant_path(@user)} to check your progress.