<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <% if @completed_campaigns.present? %>
      <% if @completed_campaigns.size > 1 %>
        <p>Congratulations! You just completed the following campaigns:</p>
        <ul>
          <% for campaign in @completed_campaigns %>
            <h3><%= campaign.name %></h3>
          <% end %>
      <% else %>
        <%= @completed_campaigns.first.message %>
      <% end %>
    <% else %>
      <p>You're on your way to completing the following campaign:</p>
      <% for campaign in @in_progress_campaigns %>
        <h3><%= campaign.name %> &mdash; <%= progress_toward_campaign_helper(@user, campaign, @action) %></h3>
      <% end %>
    <% end %>
    <p>Monitor your progress by visiting <%= link_to 'www.streetcred.us', 'www.streetcred.us' %></p>
  </body>
</html>