.row.campaign.active-campaign
	.span12
		.row
			.span7
				.title
					%span.main-title
						= link_to campaign.name, campaign_path(campaign), class: 'black'
					%span.sub-title
						== &nbsp;#{distance_of_time_in_words(campaign.time_left)} left
				%p= campaign.short_description
		.row
			.span7
				.progress-row
					.progress
						.bar.blue{:style=>"width: #{individual_progress_bar_helper(campaign, @participant)};"}
					.progress-measure{:style=>"margin-left: #{individual_progress_bar_helper(campaign, @participant)};"}
						= campaign.contributing_community_actions.try(:count)
				.progress-row
					.progress
						.bar.blue{:style=>"width: #{community_progress_bar_helper(campaign)};"}
					.progress-measure{:style=>"margin-left: #{community_progress_bar_helper(campaign)};"}
						= campaign.contributing_community_actions.try(:count)
						
			.span2
				.progress-row
					.goal
						.sub-title
							== #{campaign.required_individual_occurrences}&nbsp;&nbsp;Individual
				.progress-row
					.goal
						.sub-title
							== #{campaign.required_community_occurrences}&nbsp;&nbsp;Community

			.span2.badges.center
				= raw badge_helper(campaign, @participant)
