.row.campaign.active-campaign
	.span12
		.row
			.span7
				.title
					%span.main-title
						= link_to campaign.name, campaign_path(campaign), class: 'black'
					%span.sub-title
						== &nbsp;#{distance_of_time_in_words(campaign.time_left)} left
				%p= campaign.short_description
		.row
			.span7
				.progress-row
					%div{:style=>"margin-bottom: 5px;"}
						Individual
					.progress
						.bar.blue{:style=>"width: #{individual_progress_bar_helper(campaign, @participant)};"}
					%div{:style=>"font-size: 11px; margin-left: #{individual_progress_bar_helper(campaign, @participant)};"}
						= campaign.contributing_individual_actions(@participant).try(:count)
				.progress-row
					%div{:style=>"margin-bottom: 5px;"}
						Community
					.progress
						.bar.blue{:style=>"width: #{community_progress_bar_helper(campaign)};"}
					%div{:style=>"font-size: 11px; margin-left: #{community_progress_bar_helper(campaign)};"}
						= campaign.contributing_community_actions.try(:count)
						
			.span2
				.progress-goal
					%span.goal
						== #{campaign.required_individual_occurrences}
				.progress-goal
					%span.goal
						== #{campaign.required_community_occurrences}

			.span2.badges.center
				= raw badge_helper(campaign, @participant)
