.full-width-medium.gray-background
	.container
		.row 
			.span1
				- if @participant.gravatar.present?
					= image_tag @participant.gravatar.url(:thumbnail), class: 'profile-img', style: 'visibility: visible'
				- else
					= image_tag @participant.gravatar_url, class: 'profile-img', style: 'visibility: visible'
			.span4
				%h3= @participant.display_name
				== Member since #{formatted_month_year(@participant.created_at)}

			.span1.stat.text-center
				%h1
					= @participant.score
				Score

			.span1.stat.text-center
				%h3
					= @participant.completed_campaigns_count
				= pluralizer_helper('Awards', @participant.completed_campaigns_count)

			.span1.stat.text-center
				%h3
					= @participant.actions.count
				= pluralizer_helper('Actions', @participant.actions.count)

			.span2.stat.text-center
				- if @participant == current_user
					%br/
					%br/
					= link_to 'edit profile', edit_user_registration_path(@participant), class: 'btn'
