.page.container
	%h1 Participants

	%p.medium
		== Users take part in StreetCred by performing qualifying actions through approved channels. As of today, participants have taken <span class="larger bold">#{Action.count}</span> actions. Through those actions, they have earned <span class="larger bold">#{User.completed_campaigns.count}</span> awards, and completed <span class="larger bold">#{Campaign.completed_community_campaigns.count}</span> community campaigns.
	%br/

	- @participants.each do |participant|
		.row.user.well
			.span1.gravatar
				= image_tag participant.gravatar_url
			.span4.user-name
				%h3= participant.display_name
				== Member since #{formatted_month_year(participant.created_at)}

			.span1.stat.text-center
				%h1
					= participant.score
				Score

			.span1.stat.text-center
				%h3.adjusted
					= participant.completed_campaigns.count
				= pluralizer_helper('Awards', participant.completed_campaigns.count)

			.span1.stat.text-center
				%h3.adjusted
					= participant.actions.count
				= pluralizer_helper('Actions', participant.actions.count)

			.span1.pull-right.details-button.text-right
				= link_to 'details', participant_path(participant), :class => 'btn btn-info'
