.page.container
	%h1 Participants

	%p.medium
		== Users take part in StreetCred by performing qualifying actions through approved channels. As of today, participants have taken <span class="larger bold">#{Action.owned.try(:count)}</span> actions. Through those actions, they have earned <span class="larger bold">#{User.completed_campaigns_count}</span> awards, and completed <span class="larger bold">#{Campaign.completed_community_campaigns_count}</span> community campaigns.
	%p
		%em
			%br/
			(Participants earns 5 points for every action taken. They even earn 5 points for every  report they make through Citizens Connect, even if it is not part of a campaign.  If they earn an individual award by completing a campaign, they earn 25 points.  If they their action helps the community meet its goal, they earn an additional 50 points.)

	%br/

	- @participants.each do |participant|
		.row.user.well
			.span1.gravatar
				- if participant.gravatar.present?
					= image_tag participant.gravatar.url(:thumbnail)
				- else
					= image_tag participant.gravatar_url
			.span4.user-name
				%h3= participant.display_name
				== Member since #{formatted_month_year(participant.created_at)}

			.span1.stat.text-center
				%h1
					= participant.score
				Score

			.span1.stat.text-center
				%h3.adjusted
					= participant.completed_campaigns_count
				= pluralizer_helper('Awards', participant.completed_campaigns_count)

			.span1.stat.text-center
				%h3.adjusted
					= participant.actions.count
				= pluralizer_helper('Actions', participant.actions.count)

			.span1.pull-right.details-button.text-right
				= link_to 'details', participant_path(participant), :class => 'btn btn-info'
