.page.container
	%h1 Participants

	%p.medium
		== Users take part in StreetCred by performing qualifying actions through approved channels. As of today, #{Date.today.strftime('%B %d')}, participants have taken #{Action.count} actions. Through those actions, they've earned #{User.completed_campaigns.count} awards, and completed #{Campaign.completed_community_campaigns.count} community campaigns.
	%br/
	
	- @participants.each do |participant|
		.row.user.well
			.span1.gravatar
				= image_tag participant.gravatar_url
			.span4.user-name
				%h3= participant.display_name
				== Member since #{formatted_month_year(participant.created_at)}

			.span1.stat.text-center
				%h1
					= participant.actions.count
				= pluralizer_helper('Actions', participant.actions.count)

			.span1.stat.text-center
				%h1
					= participant.completed_campaigns.count
				= pluralizer_helper('Awards', participant.completed_campaigns.count)

			.span1.stat.text-center
				%h1
					= (participant.completed_campaigns.count * participant.actions.count)
				Score

			.span1.pull-right.details-button.text-right
				= link_to 'details', participant_path(participant), :class => 'btn btn-info'
