.profile-wrapper.col-xs-12.col-sm-6
  .paddingVertical-lg.colorPrimary-white
    - if @participant.gravatar.present?
      = image_tag @participant.gravatar.url(:thumbnail), class: 'profile-img', style: 'visibility: visible'
    - else
      = image_tag @participant.gravatar_url, class: 'profile-img', style: 'visibility: visible'
    .col-xs-12
      %h4.paddingTop-md= @participant.display_name
      .txtSm
        = @earned_awards.count
        = pluralizer_helper('Awards', @earned_awards.count)
      .txtSm 
        = @participant.completed_campaigns_count
        = pluralizer_helper('Campaigns', @participant.completed_campaigns_count)
      .txtSm
        = @participant.actions.count
        = pluralizer_helper('Actions', @participant.actions.count)
.awards-wrapper.col-xs-12.col-sm-6{ :style => "min-height:300px;max-height:600px;" }
  - for campaign in @earned_awards
    / Declare variable with user award level achieved for this campaign
    - participant_award_level = campaign.current_level_by_individual(@participant)
    - for i in 1..3
      .col-xs-4.col-sm-4.award
        %div
          - if i <= participant_award_level
            = image_tag '/assets/personal_badge.png', class: '', style: 'visibility: visible'
          - else
            = image_tag '/assets/personal badge indentation.png', class: '', style: 'visibility: visible'
          Level #{i}
    .col-xs-4.col-sm-4.award
      %div
        - if campaign.requirements_met_by_community?
          = image_tag '/assets/community badge.png', class: '', style: 'visibility: visible'
        - else
          = image_tag '/assets/community badge indentation.png', class: '', style: 'visibility: visible'
  %br.clear-fix

- if @actions_with_photos.present?
  - if @participant.map_visible?
    .map-wrapper.col-xs-12.col-sm-6.removePadding
      #map
    .tiles-wrapper.tiles-wrapper.col-xs-12.col-sm-6.removePadding
      - for action in @actions_with_photos
        .tile.col-xs-3.img-height-25.pull-left{:style => "background-color:#6666666 !important;background-image: url('#{action.photo_url || action.image_url}'); cursor: pointer; cursor: hand;", :onclick => "window.location.href = '#{participant_action_path(@participant, action)}'; return false;"}
      - for i in 1..(16-@actions_with_photos.count)
        .tile.col-xs-3.img-height-25.pull-left
      %br.clear-fix
  - else
    .tiles-wrapper.tiles-wrapper.col-xs-12.col-sm-12.removePadding
      - for action in @actions_with_photos
        .tile.col-xs-3.img-height-25.pull-left(style="background-image: url('#{action.photo_url || action.image_url}');")
      - for i in 1..(16-@actions_with_photos.count)
        .tile.col-xs-3.img-height-25.pull-left
      %br.clear-fix

- else
  - if @participant.map_visible?
    .map-wrapper.col-xs-12.col-sm-12.removePadding
      #map

- if @actions_with_text.present?
  .post.col-xs-12.backgroundSecondary-color.padding-xl
    - for action in @actions_with_text
      .col-xs-3.padding-sm.txtMd.colorPrimary-white
        = link_to "#{action.created_at.strftime('%B %d, %Y')}", participant_action_path(@participant, action), :class => "colorPrimary-gray"
      .col-xs-9.padding-xl.backgroundSecondary-color-highlight.colorPrimary-white.txtSm.borderRadius-md.marginTop-sm
        - if action.subject.present?
          Subject: #{action.subject}
        - if action.body.present?
          %br/
          #{action.body}
        - if action.campaigns.count > 0
          %br/
          For Campaign:
          - action.campaigns.each_with_index do |action_campaign, index|
            - if index > 0
              &
            = link_to "#{action_campaign.name}", campaign_path(action_campaign), :class => "colorPrimary-gray"
    %br.clear-fix

- if @actions_recent.present?
  .col-xs-12.backgroundSecondary-color-highlight.padding-lg
    %h4.text-center.colorPrimary-white Newsfeed
    - for action in @actions_recent
      .col-xs-10.col-xs-offset-1.padding-xl.backgroundPrimary-white.colorPrimary-color.borderRadius-md.txtXs.marginTop-lg
        = link_to "#{action.created_at.strftime("%B %d, %Y %I:%M %p")} - #{action.action_type.channel.name}", participant_action_path(@participant, action)
        - if action.campaigns.present?
          taken in  
          - action.campaigns.each_with_index do |action_campaign, index|
            - if index > 0
              &
            = link_to "#{action_campaign.name}", campaign_path(action_campaign)
          = pluralizer_helper('Campaigns', action.campaigns.count)
    .col-xs-4.col-xs-offset-4.btn.btn-info.txtSm.marginTop-xl.js-allactions
      See All Actions
    %br.clear-fix

  - content_for :scripts do
    :javascript
      var map = L.mapbox.map('map', 'joelmahoney.map-20c5njje').setView([42.35917815419112, -71.06001852416991], 13);
      map.scrollWheelZoom.disable();
      L.mapbox.markerLayer(gon.markers, {sanitizer: function(x) { return x; } }).addTo(map);

    = javascript_include_tag 'http://beta.openbadges.org/issuer.js'

    :javascript
      $(document).ready(function() {
      $('.openbadge-link').on('click', function(e) {
      var campaign = $(e.target.parentElement).data('api');
      OpenBadges.issue(campaign, function(errors, successes) {
      console.log(errors,successes);
      });
      });
      $(".title").css({backgroundColor:'#666666'});
      $(window).load(function(){
      var wrapperResize = function() {$(".profile-wrapper").css({height:$(".awards-wrapper").height()});};
      wrapperResize();
      $(window).resize(function() {wrapperResize();})
      });
      $('.js-allactions').click(function(){window.location.href='#{participant_actions_path(@participant)}';});
      });
