- if @message.errors.any?
  .alert.alert-error
    %h3= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
    %ul
      - @message.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :subject
  = f.text_field :subject

.field
  = f.label :body
  = f.text_area :body, rows: 10, cols: 20

%h3 Campaigns 

.field
  - for campaign in Campaign.asc(:name)
    %div
      = check_box_tag 'message[campaign_ids][]', campaign.id, @message.campaigns.include?(campaign)
      = campaign.name
  %br/

%h3 Trigger

.field
  = f.radio_button :campaign_type, "individual"
  Individual Goal
  %br/
  = f.radio_button :campaign_type, "community"
  Community Goal

.field
  = f.label :campaign_percentage, "Campaign Completion (%)"
  = f.select :campaign_percentage, [['1%', 0.01],['10%', 0.1],['25%', 0.25],['50%', 0.5],['75%', 0.75],['100%', 1]], include_blank: true

== - or - 

.field
  = f.label :campaign_countdown, "Campaign Countdown (days)"
  = f.select :campaign_countdown, (1..30).to_a, include_blank: true

  
.actions
  = f.submit 'Save', :class => 'btn btn-success'
  = link_to 'Cancel', admin_messages_path, :class => 'btn'
