.page.container
  
  - if @participant.present?
    %h1.colorPrimary-white.paddingVertical-md.paddingHorizontal-md.removeMargin{ :style => "background:#5d6566;" } Actions for #{@participant.display_name}

    - if @actions.present?
      %ul{ :style => "background:#5b5f61;list-style-type: none;"}
        - for action in @actions
          %li 
            = link_to "#{action.action_type.channel.name}", participant_action_path(@participant, action)
            - if action.campaigns.present?
              (For 
              - for action_campaign in action.campaigns
                = link_to "#{action_campaign.name}", campaign_path(action_campaign)
              )
    - else
      %p No actions available to display

  - if @campaign.present?
    %h1 Actions for #{@campaign.name}

    - if @actions.present?
      %ul
        - for action in @actions
          %li
            = link_to "#{action.action_type.channel.name}", campaign_action_path(@campaign, action)
            = link_to "By #{action.user.display_name}", participant_path(action.user)
    - else
      %p No actions available to display

- content_for :scripts do
  :javascript
    $(window).load(function(){$(".page").css({padding:0, margin:0, width: '100%'});
    $("#wrap").css({background:'#5b5f61'});});
    

