.row.campaign.active-campaign
	.span12
		.row
			.span7
				.title
					%strong
						= campaign.name
					%small
						%small
							== &nbsp;#{distance_of_time_in_words(campaign.time_left)} left
				%p= campaign.short_description
		.row
			.span8
				.progress-row
					.progress
						- if campaign.progress_by_individual(@user) >= 1.0
							.bar.blue{:style=>"width: #{individual_progress_bar_helper(campaign, @user)};"}
						- else
							.bar.gray{:style=>"width: #{individual_progress_bar_helper(campaign, @user)};"}
					.pull-right
						= campaign.required_individual_occurrences
					0
				.progress-row
					.progress
						- if campaign.progress_by_community >= 1.0
							.bar.blue{:style=>"width: #{community_progress_bar_helper(campaign)};"}
						- else
							.bar.gray{:style=>"width: #{community_progress_bar_helper(campaign)};"}
					.pull-right
						= campaign.required_community_occurrences
					0

			.span2
				.individual
					Individual
				.community
					Community

			.span2.badges
				= badge_helper(campaign, @user)
