.page.container
	%h1 Participants

	- @users.each do |user|
		.row.user.well
			.span1
				= image_tag user.gravatar_url
			.span4
				%h3= user.display_name
				== Member since #{formatted_month_year(user.created_at)}

			.span1.stat.text-center
				%h1
					= user.actions.count
				= pluralizer_helper('Actions', user.actions.count)

			.span1.stat.text-center
				%h1
					= user.completed_campaigns.count
				= pluralizer_helper('Awards', user.completed_campaigns.count)

			.span1.stat.text-center
				%h1
					1.0
				Reach (mi)

			.span1.pull-right.details-button.text-right
				= link_to 'Details', user_path(user), :class => 'btn btn-info'
