.page.container
	- @users.each do |user|
		.row.user.well
			.span1
				= image_tag user.gravatar_url
			.span4
				%h3= user.full_name
				== Member since #{formatted_month_year(user.created_at)}

			.span1.text-center
				%h1
					= user.actions.count
				= pluralizer_helper('Report', user.actions.count)

			.span1.text-center
				%h1
					= user.channels.count
				= pluralizer_helper('Channel', user.channels.count)

			.span1.text-center
				%h1
					= user.completed_campaigns.count
				= pluralizer_helper('Badge', user.completed_campaigns.count)

			.span1.text-center
				%h1
					1
				Reach (mi)

			.span1.pull-right.user-details-button.text-right
				= link_to 'Details', user_path(user), :class => 'btn btn-info'
