%h2= @user.full_name

%hr/
%h3 Awards
%table.table
  %tr
    %th Name
    %th Description
  - for campaign in @user.campaigns
    %tr
      %td= campaign.name
      %td= campaign.description

%hr/
%h3 Actions
%table.table
  %tr
    %th Action Type
    %th Channel
    %th Created At
    %th
  - for action in @user.actions.desc(:created_at)
    %tr
      %td= action.action_type.try(:name)
      %td= action.channel.try(:name)
      %td= action.created_at
      
- if @user.provider_uid.blank?
  %br/
  = link_to "Enable Foursquare Checkins", user_omniauth_authorize_path('foursquare')
