= render partial: 'user_header'

.page.container
  - if @active_campaigns.present?
    - for campaign in @active_campaigns
      = render partial: 'active_campaign', locals: {campaign: campaign}
        
  - if @earned_campaigns.present?
    %hr
    .row
      .span12
        %h2 Completed Campaigns
    
    .row
      - for campaign in @completed_earned_campaigns
        = render partial: 'completed_campaign', locals: {campaign: campaign}

  = link_to 'View Past Campaigns', campaigns_path

.row.tall-padding.dark-gray-background
  .container
    %h3.white
      Your Reports
    = gmaps('markers' => {"data" => @json}, 'map_options' => { "auto_adjust" => true, "provider" => "google" })


- content_for :scripts do
  = javascript_include_tag 'http://beta.openbadges.org/issuer.js'

  :javascript
    $(document).ready(function() {
    $('.openbadge-link').on('click', function(e) {
    var campaign = $(e.target.parentElement).data('api');
    OpenBadges.issue(campaign, function(errors, successes) {
    console.log(errors,successes);
    });
    });
    });
