%h2= @user.full_name

%hr/
%h3 Awards
%table.table
  %tr
    %th Name
    %th Description
    %th Points
  - for award in @user.awards
    %tr
      %td= award.name
      %td= award.description
      %td= award.points

%hr/
%h3 Actions
%table.table
  %tr
    %th Action Type
    %th Channel
    %th Created At
    %th
  - for action in @user.actions
    %tr
      %td= action.action_type
      %td= action.channel.try(:name)
      %td= action.created_at
      
- if @user.provider_uid.blank?
  %br/
  = link_to "Enable Foursquare Checkins", user_omniauth_authorize_path('foursquare')
