.container.page

	- if resource.try(:created_at).present? && resource.try(:created_at) > Time.now.yesterday

		%h2 Claim your account

		%p A StreetCred account was created when you submitted your first report, but you need to claim your account by setting a password, using the form below. 

		= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
			= devise_error_messages!
			= f.hidden_field :reset_password_token

			.field
				= f.label :password, "New password"
				= f.password_field :password, :autofocus => true

			.field
				= f.label :password_confirmation, "Confirm new password"
				= f.password_field :password_confirmation

			.actions
				= f.submit "Change my password", :class => 'btn btn-info'

	- else

		%h2 Change your password

		= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
			= devise_error_messages!
			= f.hidden_field :reset_password_token

			.field
				= f.label :password, "New password"
				= f.password_field :password, :autofocus => true

			.field
				= f.label :password_confirmation, "Confirm new password"
				= f.password_field :password_confirmation

			.actions
				= f.submit "Change my password", :class => 'btn btn-info'
