%h1 Campaigns
%p.well
  Campaigns are time-scoped events that contain one or more awards. Campaigns are completed by earning all of the  awards in the campaign.  Completing a campaign adds bonus points to the user's account. Completed campaigns appear in the user's public profile.
  
%table.table
  %tr
    %th Name
    %th Awards
    %th Points
    %th
    %th

  - @campaigns.each do |campaign|
    %tr
      %td= campaign.name
      %td= awards_count_helper(campaign)
      %td= campaign.points
      %td{width: 35}= link_to 'Edit', edit_admin_campaign_path(campaign), :class => 'btn btn-mini'
      %td{width: 55}= link_to 'Delete', admin_campaign_path(campaign), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

= link_to 'New Campaign', new_admin_campaign_path, :class => 'btn btn-success'
