%h1 Campaigns

%table.table
  %tr
    %th Name
    %th Awards
    %th
    %th

  - @campaigns.each do |campaign|
    %tr
      %td= campaign.name
      %td= link_to awards_count_helper(campaign)
      %td{width: 35}= link_to 'Edit', edit_admin_campaign_path(campaign), :class => 'btn btn-mini'
      %td{width: 55}= link_to 'Destroy', admin_campaign_path(campaign), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'

= link_to 'New Campaign', new_admin_campaign_path, :class => 'btn btn-success'
