.row.tall-padding.blue-background#map-background-blue
	.container.text-center
		%h1.white
			Report issues, earn street cred, improve your city
		.span4.text-right.white.home-navigation
			%ul.slidesjs-pagination
				%li#nav-item-1.nav-item{:style=>'color: white;'}
					street cred
					= image_tag '/assets/arrow.png', class: 'nav-arrow', id: 'nav-arrow-1', style: 'visibility: visible'
				%li#nav-item-2.nav-item{:style=>'color: #95ddeb;'}
					get an app
					= image_tag '/assets/arrow.png', class: 'nav-arrow', id: 'nav-arrow-2', style: 'visibility: hidden'
				%li#nav-item-3.nav-item{:style=>'color: #95ddeb;'}
					take action
					= image_tag '/assets/arrow.png', class: 'nav-arrow', id: 'nav-arrow-3', style: 'visibility: hidden'
				%li#nav-item-4.nav-item{:style=>'color: #95ddeb;'}
					earn cred
					= image_tag '/assets/arrow.png', class: 'nav-arrow', id: 'nav-arrow-4', style: 'visibility: hidden'
				%li#nav-item-5.nav-item{:style=>'color: #95ddeb;'}
					see change
					= image_tag '/assets/arrow.png', class: 'nav-arrow', id: 'nav-arrow-5', style: 'visibility: hidden'
		
		#slides
			%div
				.span4
					= image_tag('/assets/iphone-1.png')
				.span3.text-left.white.home-description
					StreeCred is where actions affect change. Join a campaign and earn cred. Every month, you have the opportunity to complete a new campaign, working with your neighbors to build a better city.

			%div
				.span4
					= image_tag('/assets/iphone-1.png')
				.span3.text-left.white.home-description
					%p
						To get started, download an app to your phone. StreetCred supports Citizens Connect, SeeClickFix and Foursquare.

					= image_tag '/assets/app-stores.png'

			%div
				.span4
					= image_tag('/assets/iphone-4.png')
				.span3.text-left.white.home-description
					Now the fun begins. Use the app to report issues in your neighborhood. The app will automatically configure your StreetCred account, which you can claim by loggin in here. Get started on the current campaigns.

			%div
				.span4
					= image_tag('/assets/iphone-3.png')
				.span3.text-left.white.home-description
					With each action you take, you'll earn cred. And when you complete campaigns, you'll earn a digital badge to celebrate your work. You can export your badges to Mozilla Backpack to share your work.

			%div
				.span4
					= image_tag('/assets/iphone-2.png')
				.span3.text-left.white.home-description
					You're taking action, working on campaigns, and seeing the change. Isn't it great to improve your city?
	
- if @current_campaign.present?
	.row.mid-padding.bright-green-background.white
		.container
			.span1.text-right
				= link_to image_tag(@current_campaign.badge_icon.url(:badge)), campaign_path(@current_campaign)
			.span7
				%h3
					= @current_campaign.name
					%small.white
						== &nbsp; &nbsp; #{@current_campaign.short_description}
			.span2.text-right
				%h3
					%small.pale-yellow
						== &nbsp;#{distance_of_time_in_words(@current_campaign.time_left)} left
			.span1.text-right
				%h3
					%small.white
						= link_to 'details', campaign_path(@current_campaign), class: 'btn btn-info'

.row.tall-padding.dark-gray-background
	.container
		.span12.no-left-margin
			%p.white
				%span.large
					The reports map shows the actions that are being taken throughout the city. A map of your personal actions is available on your user page.
			= gmaps('markers' => {"data" => @json}, 'map_options' => { "auto_adjust" => true, "provider" => "google" })


- content_for :scripts do
	:javascript
		$(function() {
		$('#slides').slidesjs({
		width: 200,
		height: 185,

		navigation: {
		active: false,
		effect: "fade"
		},
		
		pagination: {
		active: false
		},

		effect: {
		fade: {
		speed: 800
		}
		},
		
		play: {
		active: false,
		effect: "fade",
		interval: 5000,
		auto: true,
		pauseOnHover: false,
		swap: false
		},

		callback: {
		complete: function(number) {
		$('.nav-item').css('color', '#95ddeb')
		$('#nav' + '-item-' + number).css('color', '#ffffff')
		$('.nav-arrow').css('visibility', 'hidden')
		$('#nav' + '-arrow-' + number).css('visibility', 'visible')
		}
		}
		});
		});