%h1 Actions
%p.well
  Actions are created by submitting a POST request to the StreetCred API:
  %br/
  http://streetcred.herokuapp.com/api/actions.json?key=key&action_type=action_type&case_id=case_id&email=email

%table.table
  %tr
    %th Action Type
    %th Channel
    %th User Email
    %th Created At
    %th
  - @actions.each do |action|
    %tr
      %td= action.action_type
      %td= action.channel.try(:name)
      %td= action.user.try(:email)
      %td= action.created_at
      %td{width: 40}= link_to 'Show', admin_action_path(action), :class => 'btn btn-mini'
