%h1 Actions
%p.well
  Actions are user events such as 311 reports, checkins, and tweets.  Actions are created by submitting a POST request to the StreetCred API. Actions contain meta-data such as the action type, latitude and longitude, and email address. The following is an example of a valid API POST request:
  %br/
  http://streetcred.herokuapp.com/api/actions.json?api_key=1234567&action_type=Pothole&case_id=100&email=joelmahoney@gmail.com

%table.table.table-hover
  %tr
    %th Channel
    %th Action Type
    %th User Email
    %th Created At
    %th
  - @actions.each do |action|
    %tr
      %td= action.channel.try(:name)
      %td= action.action_type
      %td= action.user.try(:email)
      %td= action.created_at
      %td{width: 40}= link_to 'Show', admin_action_path(action), :class => 'btn btn-mini'
