%h1= @action.action_type.try(:name)

- if @action.user.present?
  %h3 User
  %table
    %tr
      %td First Name:
      %td= @action.user.first_name
    %tr
      %td Last Name:
      %td= @action.user.last_name
    %tr
      %td Email:
      %td= @action.user.email
    
%h3 Action
%table
  %tr
    %td Channel:
    %td= @action.channel.try(:name)
  %tr
    %td Action Type:
    %td= @action.action_type.try(:name)
  %tr
    %td Record ID:
    %td= @action.record_id
  %tr
    %td Case ID:
    %td= @action.case_id
  %tr
    %td Description: 
    %td= @action.description
  %tr
    %td Address:
    %td= @action.address
  %tr
    %td City:
    %td= @action.city
  %tr
    %td Zipcode:
    %td= @action.zipcode
  %tr
    %td State:
    %td= @action.state
  %tr
    %td Latitude:
    %td= @action.latitude
  %tr
    %td Longitude:
    %td= @action.longitude
  %tr
    %td URL:
    %td= @action.url
  %tr
    %td Shared:
    %td= @action.shared
  %tr
    %td Timestamp:
    %td= @action.created_at

%div
  %br/
  = image_tag(@action.photo_url)

%br/
= link_to 'Back', admin_actions_path, :class => 'btn'
