%h1= @action.action_type

%table
  %tr
    %td Source:
    %td= @action.source
  %tr
    %td Case ID:
    %td= @action.case_id
  %tr
    %td Description: 
    %td= @action.description
  %tr
    %td Location:
    %td= @action.location
  %tr
    %td Latitude:
    %td= @action.lat
  %tr
    %td Longitude:
    %td= @action.lng

%br/
= link_to 'Back', admin_actions_path
