- if params[:controller] == 'admin/sessions'
	.container.page

		%h1 Sign In

		= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
			.field
				= f.label :email
				= f.email_field :email, :autofocus => true

			.field
				= f.label :password
				= f.password_field :password

			.actions
				= f.submit "Sign in", :class => "btn btn-info"

			%div
				%br/
				= link_to 'Forgot password?', new_user_password_url

- else
	- if params[:email].present?
		.container.page
			%h2 Claim Your Account
			%br/
			= form_tag('/participants/search', method: :get)
			.field
				= email_field_tag :email, nil, value: params[:email]
			.actions
				= submit_tag 'Search', class: 'btn btn-info'
	- else
		.page.white-background 
			.paddingHorizontal-xxl.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
				.paddingHorizontal-xxl.paddingBottom-xxl.paddingTop-lg
					- unless current_user
						%h4.paddingTop-lg New here?
						<form accept-charset="UTF-8" action="/participants/search" method="get">
						<div>
						<input name="utf8" type="hidden" value="✓">
						</div>
						<div class="user well field txtSm paddingBottom-xl">
						<label style="font-weight:400 !important;" for="user_email">Enter your email</label>
						<input id="email" class="marginTop-sm padding-sm borderRadius-sm removeBorder boxShadow-inset-xs" name="email" placeholder="Your email address" type="email">
						<br />
						<input class="btn btn-info marginTop-xl" name="commit" type="submit" value="Register">
						</div>
						</form>
						%br/

					- if flash[:notice]
						.alert.alert-success
							= flash[:notice]
					- if flash[:alert]
						.alert.alert-error
							=raw flash[:alert]


					%h4.paddingTop-lg Returning User?
					= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
						%div.user.well.field.txtSm.paddingBottom-xl
							= f.label :email, "Enter your email", :style => "font-weight:400 !important; width:100%;"
							= f.email_field :email, :autofocus => true, :class => "marginTop-sm padding-sm borderRadius-sm removeBorder boxShadow-inset-xs"
							
							%br/
							= f.label :password, "Enter your password", :style => "font-weight:400 !important; width:100%;"
							= f.password_field :password, :class => "marginTop-sm padding-sm borderRadius-sm removeBorder boxShadow-inset-xs"
							
							%br/
							= f.submit "Sign in", :class => "btn btn-info marginTop-xl"

					%br/
					%h3.col-xs-12 No Account?
					%p.col-xs-12
						== Get started by sending us an email to #{mail_to 'reports@streetcred.us', 'reports@streetcred.us'}.   Make sure to use the same email account as you use with Citizens Connect; otherwise you will create separate accounts.