.row.campaign
	.span12.well
		.row
			.span1
				= badge_helper(campaign)
			.span5
				.title
					%strong
						= campaign.name
					%small
						%small
							%em
								- if campaign.end_time > Time.now
									== &nbsp;#{distance_of_time_in_words(campaign.time_left)} left
								- else
									== &nbsp;#{formatted_date(campaign.end_time)}
				%p= campaign.short_description
			.span1.stat.text-center
				%h2
					= campaign.actions.count
				= pluralizer_helper('Report', campaign.actions.count)


			.span1.stat.text-center
				%h2
					= campaign.channels.count
				= pluralizer_helper('Channel', campaign.channels.count)

			.span1.stat.text-center
				/ THIS NEEDS TO COUNT THE NUMBER OF USERS WHO HAVE COMPLETED CAMPAIGNS
				%h2
					= @completed_campaigns.count
				= pluralizer_helper('Badge', @completed_campaigns.count)

			.span1.stat.text-center
				%h2
					1
				Reach (mi)

			.span1.pull-right.details-button.text-right
				= link_to 'Details', campaign_path(campaign), :class => 'btn btn-info'