.list-row-badge
	= image_tag(campaign.badge_icon.url(:badge))
.list-row-description
	%h3
		== #{link_to campaign.name, campaign_path(campaign), class: 'black'}&nbsp;
		- if campaign.active?
			%small.black.active
				== #{distance_of_time_in_words(campaign.time_left)} left
	= campaign.short_description
.list-row-progress
	.progress-row
		.pull-right.goal
			== #{campaign.contributing_community_actions.try(:count)}/#{campaign.required_community_occurrences}
		.progress
			.bar.blue{:style=>"width: #{community_progress_bar_helper(campaign)};"}
	
.list-row-link
	= link_to 'details', campaign_path(campaign), class: 'btn btn-info'
.clear