.list-row-badge
	= image_tag(campaign.badge_icon.url(:badge))
.list-row-description
	%h3
		== #{campaign.name}&nbsp;
		- if campaign.end_time > Time.now
			%small.black.active
				== #{distance_of_time_in_words(campaign.time_left)} left
	= campaign.short_description
.list-row-progress
	.progress-row
		.progress
			.bar.blue{:style=>"width: #{community_progress_bar_helper(campaign)};"}
		.pull-right
			= campaign.required_community_occurrences
		0
.list-row-link
	= link_to 'Details', campaign_path(campaign), class: 'btn btn-info'
.clear