.full-width-medium.gray-background
	.container
		.row
			.span12
				.list-row-badge
					= image_tag(@campaign.badge_icon.url(:badge))
				.list-row-description
					%h3
						== #{@campaign.name}&nbsp;
						- if @campaign.expired?
							%small.black.active
								== #{distance_of_time_in_words(@campaign.time_left)} left
					= @campaign.short_description
				.list-row-progress
					%h4 Community Progress
					.progress-row
						.progress
							.bar.blue{:style=>"width: #{community_progress_bar_helper(@campaign)};"}
						.pull-right
							= @campaign.required_community_occurrences
						0
				.clear
.page
	.container
		- if @campaign.description.present?
			.row
				.span12.center
					%h3 Campaign Goals
					= @campaign.description
					%br/
		
		.row
			.span12.center
				%br/
				%h3 Campaign Tools
				%p
					%em
						- if @campaign.all_actions_required?
							Individuals must complete 
							%strong
								all actions 
							to earn this award.
						- else
							Individuals must complete 
							%strong
								== #{@campaign.required_individual_occurrences} actions 
							to earn this award.
				%p
					%em
						The community must complete
						%strong
							== #{@campaign.required_community_occurrences} actions
						to earch this award.
				%br/

		- if @campaign.channels.present?
			.row
				.span12{style: 'margin-left: 12.5%;'}
					- for channel in @campaign.channels
						.span4.well
							%table
								%tr
									%td{style: 'width: 50px; padding-right: 20px;'}
										= image_tag channel.logo.url(:thumb)
									%td
										- required_actions = @campaign.required_actions.in(action_type_id: ActionType.where(channel_id: channel.id).to_a)
										- for required_action in required_actions
											%div
												- if required_action == required_actions.last
													= required_action.action_type.description											
												- else
													.divider
														= required_action.action_type.description											

		- if @campaign.radius.present?
			.row
				.span12.center
					%h3 Campaign Location
					%p== Radius: #{@campaign.radius} miles
					- if @campaign.latitude.present?
						%p== Center Latitude: #{@campaign.latitude} 
					- if @campaign.longitude.present?
						%p== Center Longitude: #{@campaign.longitude} 

		.row
			.span12.center
				%h3 Campaign Duration
				%p
					== #{formatted_date(@campaign.start_time)} &mdash; #{formatted_date(@campaign.end_time)}


		- if current_user.present? && @campaign.contributing_individual_actions(current_user).present?
			.row
				.span12
					%br/
					%h3 Your Matching Actions
					%ul
						- for action in @campaign.contributing_individual_actions(current_user)
							%li== #{action.action_type.try(:channel).try(:name)} - #{formatted_date(action.created_at)}

		.row
			.span12
				%p
					%br/
					%br/
					%h4
						= link_to raw('&larr; Campaigns'), campaigns_path