.page.container
	.row
		.span2.no-left-margin
			= badge_helper(@campaign)
		.span5.no-left-margin
			%h2= @campaign.name
			= @campaign.short_description

	.row
		.span4
			.progress
				- if @campaign.progress_by_community >= 1.0
					.bar.blue{:style=>"width: #{community_progress_bar_helper(@campaign)};"}
				- else
					.bar.gray{:style=>"width: #{community_progress_bar_helper(@campaign)};"}
			.pull-right
				= @campaign.required_community_occurrences
			0
	.row
		- if @campaign.description.present?
			%h3 Description
			%p= @campaign.description

		%br/
		%h3 Required Actions
		%ul
		- for action in @campaign.required_actions
			%li= action.action_type.name

		%br/
		%p 
			Required Individual Actions:
			= @campaign.required_individual_occurrences
		%p
			Required Community Actions:
			= @campaign.required_community_occurrences

		- if @campaign.radius.present?
			%br/
			%h3 Location
			%p== Radius: #{@campaign.radius} miles
			- if @campaign.latitude.present?
				%p== Center Latitude: #{@campaign.latitude} 
			- if @campaign.longitude.present?
				%p== Center Longitude: #{@campaign.longitude} 

		%br/
		%h3 Duration
		%p
			== Start date: #{formatted_date(@campaign.start_time)}
		%p
			== End date: #{formatted_date(@campaign.end_time)}