.awards-wrapper.dashboard-wrapper.col-xs-12.col-sm-6{ :style => "" }
	.paddingVertical-lg.colorPrimary-white
		.col-xs-8
			.txtXl{ :style => "font-weight: bold;" }
				#{@campaign.name}&nbsp;
			.txtMd
				#{@campaign.start_time.strftime('%B %d, %Y')} &mdash; #{@campaign.end_time.strftime('%B %d, %Y')}
			.txtSm.colorSecondary-black.marginTop-md
				= @campaign.description
			- if @campaign.purpose.present?
				.txtSm.colorSecondary-black.marginTop-md
					= @campaign.purpose
		.col-xs-4
			= image_tag @campaign.individual_badge.url(:badge), id: '', style: 'max-height:114px;width:100px;'
			%br/
			%br/
			= image_tag @campaign.community_badge.url(:badge), id: '', style: 'max-height:114px;width:100px;'
.profile-wrapper.dashboard-wrapper.col-xs-12.col-sm-6.removePadding{ :style => "padding-bottom:20px !important;" }
	.paddingVertical-lg.colorPrimary-white
		.col-xs-12.removePadding
			.txtXl.paddingHorizontal-xl{ :style => "font-weight: bold;" }
				Actions Needed
			.txtMd.paddingHorizontal-xl
				Individuals must complete #{@campaign.try(:actions_per_level)} #{pluralizer_helper('actions', @campaign.actions_per_level)} below to earn the award.
				%br/
				%h2{ :style => "display:inline-block;" }
					= (@campaign.try(:actions_per_level) * 2)
				total actions earn you a level
				%h2{ :style => "display:inline-block;" }
					2
				award.
				%br/

				%h2{ :style => "display:inline-block;" }
					= @campaign.try(:required_community_occurrences)
				actions taken by all members of the community earns the community badge.
			.paddingVertical-md.marginVertical-md{ :style => "background:#69c0dd;" }
				- if @campaign.channels.present?
					- for channel in @campaign.channels
						- unless channel.blank?
							- required_actions = @campaign.required_actions.in(action_type_id: ActionType.where(channel_id: channel.id).to_a)
							- if channel == Channel.where(name: 'Citizens Connect').first && (channel.action_types - @campaign.required_action_types).blank?
								.col-xs-6.padding-md
									.badge-wrapper.col-xs-12.borderRadius-xs.paddingVertical-xs{ :style => "background:#489ab8;min-height:50px;" }
										.col-xs-3.removePadding{ :style => "height:100%;"}
											= image_tag channel.logo.url(:thumb), class: '', id: '', style: 'height:50px;width:auto;'
										.col-xs-9.removePadding.txtXs.badge-text
											Use Citizens Connect to report issues in your community.
										%br.clear-fix
							- else
								- for required_action in required_actions
									.col-xs-6.padding-md
										.badge-wrapper.col-xs-12.borderRadius-xs.paddingVertical-xs{ :style => "background:#489ab8;min-height:50px;" }
											.col-xs-3.removePadding{ :style => "height:100%;"}
												= image_tag channel.logo.url(:thumb), class: '', id: '', style: 'height:50px;width:auto;'
											.col-xs-9.removePadding.txtXs.badge-text
												- if required_action.action_type.description.blank?
													= required_action.action_type.name
												- else
													= required_action.action_type.description
											%br.clear-fix
				%br.clear-fix
			.txtXl.marginTop-sm.paddingHorizontal-xl
				Community Progress
				.paddingVertical-md
					.col-xs-12.backgroundPrimary-white.padding-xs.borderRadius-xs{ :style => "height:30px;" }
						.col-xs-10.removePadding{ :style=> "height:100%;" }
							.borderRadius-xs{ :style => "background:#7fdcfb;height:100%;width:#{community_progress_bar_helper(@campaign)};" }
						.col-xs-2.txtSm{ :style => "color:#7fdcfb;" }
							== #{@campaign.contributing_community_actions.try(:count)}/#{@campaign.required_community_occurrences}

- if @actions_with_photos.present?
	.map-wrapper.col-xs-12.col-sm-6.removePadding{ :style => "height:650px;" }
		#map
- else
	.map-wrapper.col-xs-12.col-sm-12.removePadding{ :style => "height:650px;" }
		#map

- if @actions_with_photos.present?
	.tiles-wrapper.tiles-wrapper.col-xs-12.col-sm-6.removePadding{ :style => "height:650px;" }
		- for action in @actions_with_photos
			.tile.col-xs-3.img-height-25.pull-left{:style => "background-image: url('#{action.photo_url || action.image_url}'); cursor: pointer; cursor: hand;", :onclick => "window.location.href = '#{campaign_action_path(@campaign, action)}'; return false;"}
		- for i in 1..(16-@actions_with_photos.count)
			.tile.col-xs-3.img-height-25.pull-left
		%br.clear-fix

- content_for :scripts do
	:javascript
		var map = L.mapbox.map('map', 'joelmahoney.map-20c5njje').setView([42.35917815419112, -71.06001852416991], 13);
		map.scrollWheelZoom.disable();
		L.mapbox.markerLayer(gon.markers, {sanitizer: function(x) { return x; } }).addTo(map);
		$(window).load(function(){
		var elementHeights = $('.badge-height').map(function() {
		return $(this).height();}).get();
		var maxHeight = Math.max.apply(null, elementHeights);
		$('.badge-text').height(maxHeight);
		var wrapperResize = function() {$(".awards-wrapper").css({height:$(".profile-wrapper").height() + 20});};
		wrapperResize();
		$(window).resize(function() {wrapperResize();})
		});