- if @admin_user.errors.any?
  .alert.alert-error
    %h3= "#{pluralize(@admin_user.errors.count, "error")} prohibited this user from being saved:"
    %ul
      - @admin_user.errors.full_messages.each do |msg|
        %li= msg

.actions
  = f.submit 'Save', :class => 'btn btn-success'
  = link_to 'Cancel', admin_users_path, :class => 'btn'
