%h1 Users
%p.well
  Users are saved when actions are created through the StreetCred API (by submitting a POST request to http://streetcred.herokuapp.com/api/actions.json?params )

%table.table
  %tr
    %th User Email
    %th Actions
    %th Awards
    %th
  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.actions.count
      %td= user.awards.count
      %td{width: 40}= link_to 'Show', admin_user_path(user), :class => 'btn btn-mini'

%br

= link_to 'New User', new_admin_user_path, :class => 'btn btn-success'
