.row
	.span12
		.pull-right
			%ul.nav.nav-pills.yellow
				- if params[:controller] == 'pages' && params[:action] == 'index'
					%li= link_to 'Home', root_url, class: 'active'
				- else
					%li= link_to 'Home', root_url

				- if current_user
					- if params[:controller] == 'participants' && params[:show] && params[:id] == current_user.id
						%li= link_to 'Dashboard', participant_path(current_user), class: 'active'
					- else
						%li= link_to 'Dashboard', participant_path(current_user)

				- if params[:controller] == 'campaigns'
					%li= link_to 'Campaigns', campaigns_url, class: 'active'
				- else
					%li= link_to 'Campaigns', campaigns_url
				
				- if params[:controller] == 'participants'
					%li= link_to 'Participants', participants_url, class: 'active'
				- else
					%li= link_to 'Participants', participants_url

				- if current_user
					%li= link_to 'Sign out', destroy_user_session_url, method: :delete
				- else
					%li= link_to 'Sign in', sign_in_path