<!DOCTYPE html>
%html
	%head
		%title Streetcred
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
		%meta{ :name => "description", :content => ""}
		%meta{ :name => "author", :content => ""}
		%meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=Edge"}
		= include_gon
		
		= yield :head
		
		%link{ :href => "/assets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
		= csrf_meta_tags
	%body
		#wrap
			.full-width-medium#map-background-blue
				.container
					= render partial: 'layouts/navigation'

			= yield
			#push

		= render partial: 'layouts/footer'
