<!DOCTYPE html>
%html
  %head
    %title Streetcred
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{ :name => "description", :content => ""}
    %meta{ :name => "author", :content => ""}
    %meta{ 'http-equiv' => "X-UA-Compatible", :content => "IE=Edge"}
    = yield :head
    
    %link{ :href => "/assets/application.css", :media => "all", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tags
  %body
    #wrap
      .header.row
        .container
          .pull-left
            = link_to image_tag('/assets/logo.png', class: 'logo'), root_url
          .main-nav.pull-right
            %ul.nav.nav-pills
              - if current_user
                %li= link_to 'Dashboard', user_path(current_user)
              %li= link_to 'Campaigns', campaigns_url
              %li= link_to 'Leaderboard', users_url
              - if current_user
                %li= link_to 'Sign Out', destroy_user_session_url, method: :delete
              - else
                %li= link_to 'Sign In', sign_in_path
      = yield
      #push

    #footer.charcoal-background
      .container
        .span7.mid-gray.no-left-margin
          == StreetCred is a collaboration between the #{link_to 'Engagement Game Lab', 'http://engagementgamelab.org/', class: 'white'} at Emerson College and the #{link_to "Mayor's Office of New Urban Mechanics", 'http://www.newurbanmechanics.org/', class: 'white'} in Boston. The project was made possible through a generous grant from the McArthur Foundation.

        .span2
          = link_to image_tag('/assets/monum.png'), 'http://www.newurbanmechanics.org/'
        .span3
          = link_to image_tag('/assets/engagement-game-lab.png'), 'http://engagementgamelab.org/'


    %script{ :src => "/assets/application.js", :type=>"text/javascript" }
    %script{ :type => "text/javascript", :src => "//use.typekit.net/dls4pak.js"}
    %script{ :type => "text/javascript"}
      try{Typekit.load();}catch(e){}
    
    = yield :scripts
