- if @award.errors.any?
  .alert.alert-error
    %h3= "#{pluralize(@award.errors.count, "error")} prohibited this admin_award from being saved:"
    %ul
      - @award.errors.full_messages.each do |msg|
        %li= msg
      
.field
  = f.label :name
  = f.text_field :name

.field
  = f.label :description
  = f.text_area :description, rows: 6

.field
  = f.label :message, "Success message"
  = f.text_area :message, rows: 4

.field
  = f.label :badge_url, "Badge URL"
  = f.text_field :badge_url
    
.field
  = f.label :points
  = f.text_field :points
  
%h3 Award Rules

%h4 Campaigns
.checkboxes
  %p
    %em Which campaigns should the award be associated with?
  - for campaign in Campaign.asc(:name)
    = check_box_tag '[award][campaign_ids][]', campaign.id, @award.campaigns.include?(campaign)
    = campaign.name
    %br/
      
%h4 Channels
.fields_group
  .field
    %p
      %em Which channels can the incoming actions come from?
    .checkboxes
      - for channel in Channel.asc(:name)
        = check_box_tag '[award][channel_ids][]', channel.id, @award.channels.include?(channel)
        = channel.name
        %br/

%h4 Actions
.fields_group
  .field.required_actions
    %p
      %em What actions count towards this award and how many occurrences are required?
      
    - @award.required_actions.each do |ra|
      = f.fields_for "required_actions_attributes[]", ra, index: ra.id do |builder|
        = render :partial => 'required_action_fields', :locals => {f: builder}
  
    = link_to_add_fields "add another", @award, f, :required_actions

  .field
    %p
      %em Require all of the above actions, or any one of them?
    = f.select(:operator, [['ALL', 'ALL'], ['ANY', 'ANY']])
  
%h4 Date Range
.fields_group
  .field
    = f.label :start_date
    = f.text_field :start_time, :placeholder => '2013-02-01'

  .field
    = f.label :end_date
    = f.text_field :end_time, :placeholder => '2013-03-31'

%br/
.actions
  = f.submit 'Save', :class => 'btn btn-success'
  = link_to 'Cancel', admin_campaign_awards_path(@campaign), :class => 'btn'